<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1089986280765-rb0a8ir6vsv57sb999pagp4f0003sb5a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1089986280765-rb0a8ir6vsv57sb999pagp4f0003sb5a</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1089986280765-tkfm3p754pla3ochrdiu9bq27tcv6808.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA9dk08pBVDxud16tIzv2QUAZtMOiklhGc</string>
	<key>GCM_SENDER_ID</key>
	<string>1089986280765</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>KingdomUnifiedApp</string>
	<key>PROJECT_ID</key>
	<string>kingdom-studios-0kzeje</string>
	<key>STORAGE_BUCKET</key>
	<string>kingdom-studios-0kzeje.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1089986280765:ios:6ebf1846c896d1c3a01954</string>
</dict>
</plist>